<!DOCTYPE html>
<head>
    <title>Petition</title>
    <link href="/styles.css" rel="stylesheet">
</head>
<body>
    <header>
    </header>
    <p>Sanity Check</p>
    {{{body}}}

    <footer>© Generic Petition Company</footer>
</body>
