<!DOCTYPE html>
<head>
    <title>Petition</title>
    <link href="/styles.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    {{{body}}}

    <!-- <footer>© Generic Petition Manufacture</footer> -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

</body>
