<!DOCTYPE html>
<head>
    <title>Petition</title>
    <link href="/styles.css" rel="stylesheet">
</head>
<body>
    <!-- <header>
    </header> -->
    {{{body}}}

    <footer>© Generic Petition Manufacture</footer>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

</body>
