<!DOCTYPE html>
<head>
    <title>Petition</title>
    <link href="/styles.css" rel="stylesheet">
</head>
<body>
    <header>
    </header>
    <p>Sanity Check</p>
    {{{body}}}

    <footer>© Generic Petition Company</footer>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="sig-canvas.js"></script>
</body>
