{{#if error}}
   <div class ="error">Oops! something went wrong</div>
{{/if}}
<div class="container">
    <div class="login-link display-top">
        <a href="/registration">REGISTER</a>
    </div>
    <div class="content">
        <h1>LOGGING IN.</h1>
        <form method="POST" class="input-field">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <div class="text-input">
                <div class="input">
                    <input type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'E-MAIL'" name="email" placeholder="E-MAIL" autocomplete="off">
                </div>
                <div class="input">
                    <input type="password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'PASSWORD'" name="password" placeholder="PASSWORD" autocomplete="off">
                </div>
            </div>
            <button name="button" class="submit">LOG IN</button>
        </form>
        <div class="login-link display-bottom">
            <a href="/registration">REGISTER</a>
        </div>
    </div>
    </div>
</div>
