{{#if error}}
       <div class ="error"> Oops! something went wrong</div>
   {{/if}}
<div class="loginContainer">
    <div class="textDiv loginDiv">
        <h1>LOGGING IN.</h1>
        <form method="POST" class="inputField loginInput">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">

            <div class="textInput">
                <div class="input">
                    <input type="text" name="email" id="email" placeholder="EMAIL" autocomplete="off">
                </div>
                <div class="input">
                    <input type="password" name="password" id="password" placeholder="PASSWORD" autocomplete="off">
                </div>

            </div>
            <button name="button" id="submit">LOG IN</button>
        </form>
    </div>
    </div>
</div>
