{{#if error}}
   <div class ="error">Oops! something went wrong</div>
{{/if}}
<div class="login-container">
    <div class="login-link">
        <a href="/registration">REGISTER</a>
    </div>
    <div class="text-div login-div">
        <h1>LOGGING IN.</h1>
        <form method="POST" class="input-field login-input">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <div class="text-input">
                <div class="input">
                    <input type="text" name="email"placeholder="EMAIL" autocomplete="off">
                </div>
                <div class="input">
                    <input type="password" name="password" placeholder="PASSWORD" autocomplete="off">
                </div>
            </div>
            <button name="button" class="submit">LOG IN</button>
        </form>
    </div>
    </div>
</div>
