{{#if error}}
       <div class ="error"> Oops! something went wrong</div>
   {{/if}}
<div class="login">
    <h1>Logging in</h1>
    <form method="POST" class="inputField">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        
        <div class="textInput">
            <p>Email</p>
            <input type="text" name="email" id="email">
            <p>Password</p>
            <input type="text" name="password" id="password">
        </div>
        <button name="button" id="submit">LOG IN</button>
    </form>
</div>
