{{#if error}}
    <div class ="error"> Oops! something went wrong</div>
{{/if}}
<div class="container">
    <div class="content">

        <div class="login-link">
            <a href="/logout">LOGOUT</a>
        </div>
        <div class="text-div">
            <div class="ribbon custom-petition">
                <h1>THE PETITION ITSELF.</h1>
                <div class="info">
                    <p class="petition-paragraph">Sign the petition using your mouse in the form below.</p>
                </div>

            </div>
        </div>
        <form method="POST" class="petition">
            <div class="input-petition">
                <input type="hidden" name="signature" id="signature">
                <canvas id="sigCanvas" width="500" height="150"></canvas>
            </div>
            <button name="button" class="submit petition-button">LET THEM EAT CAKE!</button>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
        </form>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="sig-canvas.js"></script>

</div>
