<div class="inputField">
    <div class="textInput">
        <input type="text" name="first">
        <input type="text" name="last">
    </div>
    <div class="sigInput">
        <canvas id="canvas" width="300" height="300"></canvas>
    </div>
</div>
