<div class="inputField">
    <div class="textInput">
        <input type="text" name="first" id="first">
        <input type="text" name="last" id="last">
    </div>
    <div class="sigInput">
        <canvas id="sigCanvas" width="500" height="150"></canvas>
    </div>
    <button type="button" name="button" id="submit">Submit</button>
</div>
