{{#if error}}
    <div class ="error"> Oops! something went wrong</div>
{{/if}}
<div class="container">
    <div class="content">
        <div class="login-link display-top">
            <a href="/logout">LOGOUT</a>
        </div>
        <div class="headline">
            <h1>THE PETITION ITSELF.</h1>
        </div>
        <div class="info petition">
            <p>Sign the petition using your mouse in the form below.</p>
            <p>(Disclaimer: petition can only be signed using mouse. If you are using touch-screen right now, please log in later when you have access to a mouse.)</p>
        </div>
        <form method="POST" class="petition">
            <div class="input-petition">
                <input type="hidden" name="signature" id="signature">
                <canvas width="500" height="150" id="sig-canvas"></canvas>
            </div>
            <button name="button" class="submit petition-button">LET THEM EAT CAKE!</button>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
        </form>
        <div class="login-link display-bottom">
            <a href="/logout">LOGOUT</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="sig-canvas.js"></script>

</div>
