
<form method="POST" class="inputField">
    <div class="textInput">
        <p>First name</p>
        <input type="text" name="first" id="first">
        <p>Last name</p>
        <input type="text" name="last" id="last">
    </div>
    <div class="sigInput">
        <input type="hidden" name="signature" id="signature">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <canvas id="sigCanvas" width="500" height="150"></canvas>
    </div>
    <button name="button" id="submit">Submit</button>
    {{#if error}}
           <div class ="error"> Oops! something went wrong</div>
       {{/if}}
</form>
