<div class="container">
    <div class="content">


        <div class="textDiv">
            <h1>The petition itself.</h1>
            <!-- <div class="info"> -->
                <p id="petitionParagraph">Sign the petition using your mouse in the form below.</p>
            <!-- </div> -->
        </div>
        <form method="POST" class="petition">
            <div class="inputPetition">
            <!-- <div class="sigInput"> -->
                <input type="hidden" name="signature" id="signature">
                <canvas id="sigCanvas" width="500" height="150"></canvas>
            </div>
            <button name="button" id="submit">Let them eat cake!</button>
            <p>(And have it, too!)</p>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            {{#if error}}
                   <div class ="error"> Oops! something went wrong</div>
               {{/if}}
        </form>

    </div>
    <div class="logout">
        <a href="/logout">LOGOUT</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="sig-canvas.js"></script>

</div>
