<div class="container">
    <div class="registration">
        <h1>Profile yrslf</h1>
        <form method="POST" class="inputField">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">

            <div class="textInput">
                <div class="input">
                    <p>Age</p>
                    <input type="text" name="age" id="age">
                </div>
                <div class="input">
                    <p>City</p>
                    <input type="text" name="city" id="city">
                </div>
                <div class="input">
                    <p>Homepage</p>
                    <input type="text" name="homepage" id="homepage">
                </div>

            </div>
            <button name="button" id="submit">CONTINUE</button>
            {{#if error}}
                   <div class="error"> Oops! something went wrong</div>
               {{/if}}
        </form>
    </div>
</div>
