{{#if error}}
       <div class="error"> Oops! something went wrong</div>
   {{/if}}
<div class="container">
    <div class="content" id="profileContent">
        <div class="textDiv">
            <div class="ribbon">
                <h1>Profile yourself.</h1>
            </div>
            <div class="ribbon">
                <div class="profileInfo">
                    <p>Entertain us by providing some general information on your person.</p>
                </div>
            </div>
        </div>

        <form method="POST" class="inputField" >

            <input type="hidden" name="_csrf" value="{{csrfToken}}">

            <div class="textInput">
                <div class="input">
                    <p>AGE</p>
                    <br>
                    <input type="number" name="age" id="age">
                </div>
                <div class="input">
                    <p>CITY</p>
                    <br>
                    <input type="text" name="city" id="city">
                </div>
                <div class="input">
                    <p>HOMEPAGE</p>
                    <br>
                    <input type="text" name="homepage" id="homepage">
                </div>

            </div>
            <button name="button" id="submit">CONTINUE</button>

        </form>
    </div>

</div>
