
<div class="container">
    <!-- <div id="overlay">
    </div> -->
    <div class="content">
        <div class="textDiv">
            <!-- <h1>A petition against violence towards opponents of arbitrary causes for petitions</h1> -->
            <h1>A PETITION AGAINST VIOLENCE TOWARDS OPPONENTS OF ARBITRARY CAUSES FOR PETITIONS</h1>
            <div class="info">
                <p>We are all aware that petitions are a serious thing - recently a petition saved captain Carola Rackete of Sea Watch from a prison sentence. Therefore, it's not strange that some people consider petitions a matter not to be played around with, especially by assigning them arbitrary causes - even if it's just for educational purposes. If you're not one of these people, you might assume they're just grumpy old men, but we ask of you to contemplate the fact that physical or psychological violence does not solve anything - it might only reinforce their rigid beliefs. To prevent future instances of unnecessary violence towards these individuals, we ask of you to consider signing this fine petition.</p>
            </div>
        </div>


        <form method="POST" class="inputField">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">

            <div class="textInput">
                <div class="input">
                    <p>FIRST NAME</p>
                    <br>
                    <input type="text" name="first" id="first">
                </div>
                <div class="input">
                    <p>LAST NAME</p>
                    <br>
                    <input type="text" name="last" id="last">
                </div>
                <div class="input">
                    <p>EMAIL</p>
                    <br>
                    <input type="text" name="email" id="email">
                </div>
                <div class="input">
                    <p>PASSWORD</p>
                    <br>
                    <input type="password" name="password" id="password">
                </div>
            </div>
            <button name="button" id="submit">SIGN UP</button>
            <div class="loginLink">
                <p>If already a member, do <a href="/login">LOG IN</a>.</p>
            </div>
            {{#if error}}
                   <div class="error"> Oops! something went wrong</div>
               {{/if}}
        </form>
    </div>


</div>
