<div class="registration">
    <h1>Register here</h1>
    <form method="POST" class="inputField">
        <div class="textInput">
            <p>First Name</p>
            <input type="text" name="first" id="first">
            <p>Last Name</p>
            <input type="text" name="last" id="last">
            <p>Email</p>
            <input type="text" name="email" id="email">
            <p>Password</p>
            <input type="text" name="password" id="password">
        </div>
        <button name="button" id="submit">SIGN UP</button>
    </form>
</div>
