{{#if error}}
       <div class ="error"> Oops! something went wrong</div>
   {{/if}}
<div class="thanks">
    <h1>Thank your lucky stars, {{first}}!</h1>
    <img src="{{signature}}" alt="">
    <a href="/signers">Fancy checking {{count}} signers?</a>
</div>
<a href="/profile/edit">Edit Profile</a>
<form action="/signature/delete" method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button>DELETE</button>
</form>
<a href="/logout">LOGOUT</a>
