{{#if error}}
   <div class="error"> Oops! something went wrong</div>
{{/if}}
<div class="container">
    <div class="content">
        <div class="login-link display-top">
            <a href="/logout">LOGOUT</a>
        </div>
        <div class="text-div">
            <div class="thanks">
                <div class="headline">
                    <h1>WE APPRECIATE YOUR SIGNATURE, {{first}}!</h1>
                </div>
                <img src="{{signature}}" alt="">
                <br>
                <div class="submit thanks-button">
                    <a href="/signers">FANCY CHECKING {{count}} SIGNERS?</a>
                </div>
                <br>
                <div class="submit thanks-button">
                    <a href="/profile/edit" class="thanks-button">EDIT PROFILE</a>
                </div>
                <br>
                <form action="/signature/delete" method="POST">
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    <button class="submit thanks-button">DELETE YOUR SIGNATURE</button>
                </form>
                <br>
            </div>
            <div class="login-link display-bottom">
                <a href="/logout">LOGOUT</a>
            </div>
        </div>
    </div>
</div>
