* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: calc(1vw + 1vh + 0.5vmin);
}

@font-face {
    font-family: "Gotham Medium";
    src: url("/fonts/GothaProMed.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Gotham Medium";
    src: url("/fonts/GothaProMed.otf");
    font-weight: bold;
}

@font-face {
    font-family: "Veljovic";
    src: url("/fonts/ITC-New-Veljovic-Pro-Cn-Md-It.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Veljovic";
    src: url("/fonts/ITC-New-Veljovic-Pro-Cn-Md-It.otf");
    font-weight: bold;
}

@font-face {
    font-family: "Monument";
    src: url("/fonts/Monument-Regular.otf");
    font-weight: bold;
}

body {
    height: 100%;
    overflow-y: hidden;
}

canvas {
    background-color: rgba(0, 0, 0, 0.7);
}

button {
    height: 5vh;
    width: 200px;
    margin: 0 auto;
    background-color: white;
}

li {
    list-style-type: none;
}

p {
    font-family: "Veljovic";
    color: white;
    font-size: 16px;
}

p.logout {
    margin: 0.5vh auto;
}

h1 {
    font-family: "Monument";
    color: rgb(0, 255, 0);
    font-weight: bold;
    font-size: 1.7rem;
    /* font-size: 5.5vh; */
    opacity: 2;
    padding: 2vh 2vw;
}

footer {
    color: black;
    background-color: #959e9a;
    position: fixed;
    width: 100%;
    bottom: 0px;
    height: 20px;
    padding: 2px;
}

.container {
    height: 100vh;
    max-width: 100vw;
    z-index: 0;
    background-image: url(/img/zid.jpg);
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: block; */
    position: fixed;
    top: 0px;
    height: 100vh;
    width: 100%;
    z-index: 0;
    background-image: url(/img/zid.jpg);
}

/* .login-container h1 {
    margin-top: 150px;
} */

.content {
    height: 100vh;
    display: grid;
    align-items: center;
    /* grid-template-rows: 0.8fr 1.2fr; */
    z-index: 1;
    opacity: 1;
    width: 90%;
    max-width: 950px;
    margin: 0 auto;
}

.input-field {
    top: 0px;
    display: grid;
    width: 40vw;
    height: 35vh;
    margin: 0 auto;
}

.content.profile-div {
    grid-template-rows: 25% 75%;
}

.content.profile-div h1 {
    margin-top: 300px;
}

.login-input {
    height: 20vh;
    margin-top: 5vh;
}

.login-div {
    margin-top: 15vh;
}

.arrow-down {
    display: none;
    color: blue;
    font-size: 7rem;
    font-family: sans-serif;
    margin: 3vh auto;
    animation-duration: 1.8s;
    animation-name: blend;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blend {
    from {
        color: blue;
    }

    to {
        color: transparent;
    }
}

.input {
    width: 200px;
    height: 50px;
    text-align: center;
    margin: 0 auto;
}

.input-petition {
    text-align: center;
    margin: 0 auto;
}

input {
    font: 16px "Gotham Medium";
    width: 200px;
    margin: 5px 0;
    text-align: center;
}

input::-webkit-input-placeholder {
    color: black;
    font: 16px "Gotham Medium";
}

.input p {
    font: 16px "Gotham Medium";
    padding: 0.3vh 0.7vw;
    background-color: rgb(0, 0, 255);
    display: inline-block;
    margin: 0.5vh 0;
    margin-top: 0;
    font-weight: bold;
    color: black;
}

.input.custom-profile p {
    margin-top: 0.5vh;
}

.input input {
    background-color: yellow;

    color: black;
    padding: 2px;
    border: none;
}

/* .text-input {
    margin-top: 50px;
} */

.login-link {
    position: absolute;
    top: 30px;
    right: 30px;
    text-align: center;
    margin-top: 5px;
    border: 3px solid rgb(0, 255, 0);
    padding: 5px;
    padding-top: 0px;
    padding-right: 7px;
}

.login-link p {
    margin-top: 0.5vh;
    bottom: 0;
    color: white;
}

.login-link a {
    margin-top: 20px;
    color: rgb(0, 255, 0);
    font-size: 20px;
    font-family: "Gotham Medium";
    text-decoration: none;
    font-style: italic;
}

.text-div {
    text-align: center;
    margin-top: 30px;
}

.headline {
    width: 100%;
    margin-bottom: 20px;
}

.headline.custom-profile {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.headline.custom-petition {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-bottom: 30px;
}

.headline.custom-signers {
    width: 80%;
    padding-bottom: 20px;
    margin: 0 auto;
}

.headline.custom-edit {
    margin: 0 auto;
    margin-top: -10vh;
    /* margin-bottom: 30px; */
    text-align: center;
}

.signers-div {
    padding: 10px;
    border: none;
    color: white;
    text-align: center;
    width: 40%;
    margin: 0 auto;
    font-family: "Veljovic";
    background-color: rgba(0, 0, 0, 0.7);
}

.signers-div a {
    color: yellow;
}

.signers-headline {
    margin-top: 500px;
}

.info.signers {
    width: 40%;
}

.textDiv li {
    margin: 0.5vh auto;
}

.info {
    border: 2px solid black;
    max-width: 900px;
    margin: 0 auto;
    color: black;
    padding: 2vh;
    background-color: rgba(255, 255, 255, 1);
}

.info p {
    color: black;
    font-size: 0.55rem;
}

.profileInfo {
    width: 70%;
    margin: 1vh auto;
    color: red;
    padding: 2vh;
}

.profileInfo p {
    font-size: 20px;
}

.petition {
    display: grid;
    width: 100%;
    height: 33vh;
    margin: 0 auto;
    margin-top: -200px;
}

.petition p {
    margin: 0 auto;
    font-size: 20px;
}

.deleteButton {
    width: 30%;
    margin: 2vh auto;
    background-color: rgba(0, 0, 0, 0.8);
    color: magenta;
    font: 16px "Gotham Medium";
}

.updateButton {
    margin: 2vh auto;
    background-color: rgba(0, 0, 0, 0.8);
    font: 16px "Gotham Medium";
    border: 2px outset buttonface;
    color: magenta;
}

.linkButton {
    /* -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button; */
    text-decoration: none;
    color: magenta;
    text-decoration: none;
    font: menu;
    display: inline-block;
    padding: 2px 8px;
    background-color: rgba(0, 0, 0, 0.8);
    border-width: 2px;
    /* border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight; */
    border-color: buttonface;
    border-style: outset;
    width: 30%;
    height: 5vh;
    margin: 2vh auto;
    padding: 1.5vh 0;
    font: 16px "Gotham Medium";
}

.logout {
    text-align: center;
    font-size: 20px;
}

.logout a {
    color: magenta;
    font-family: "Veljovic";
}

.thanks {
    margin-top: 100px;
}

.error {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: 11vh;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    color: magenta;
    font-family: "Monument";
    font-size: 5rem;
    font-weight: bold;
    z-index: 5;
}

.edit-input {
    margin: 0 auto;
    margin-top: -53vh;
}

.signers-content {
    grid-template-rows: 30% 70%;
}

.signers-content p,
li {
    font-size: 20px;
}

.submit {
    margin-top: 2vh;
    margin-bottom: 1vh;
    border: none;
    background-color: white;
    color: black;
    height: 22px;
    width: 110px;
    font: 16px "Gotham Medium";
}
#submit {
    margin-top: 2vh;
    margin-bottom: 1vh;
    border: none;
    background-color: white;
    color: black;
    height: 22px;
    width: 110px;
    font: 16px "Gotham Medium";
}

.submit.petition-button {
    height: 40px;
}

#submit.profile-button {
    margin-top: 2vh;
}

.submit.thanks-button {
    width: 280px;
    height: 30px;
    padding: 6px;
    text-decoration: none;
    background-color: white;
    margin: 0 auto;
}

.submit.thanks-button a {
    color: black;
    text-decoration: none;
}

.petition-paragraph {
    font-size: 18px;
}

#last {
}

#email {
}

#password {
}

.sig-img {
    max-width: 500px;
}

.display-bottom {
    display: none;
}

@media (max-width: 1220px) {
    .container {
        width: 100vw;
        height: 100vh;
        overflow: scroll;
    }
    .headline h1 {
        font-size: 1.5rem;
    }
    .info {
        min-width: 500px;
        margin: 0 auto;
    }
    .info p {
        font-size: 0.7rem;
    }
    .login-link {
        position: relative;
        margin: 0 auto;
        top: auto;
        right: auto;
        padding: 1vh;
    }
    .display-top {
        display: none;
    }
    .display-bottom {
        display: inline-block;
        margin-top: 2vh;
        margin-bottom: 5vh;
        padding-top: 0.8vh;
    }
    .text-div {
        max-width: 100%;
        margin: 0 auto;
    }
    .text-div.custom-petition {
        max-width: 90%;
    }
    .sig-img {
        max-width: 500px;
    }
    .content.custom-petition {
        margin-top: -10vh;
        grid-template-rows: 80% 10% 10%;
        justify-content: center;
    }
}

@media (max-width: 900px) {
    .info p {
        font-size: 0.85rem;
    }
}

@media (max-width: 608px) {
    .content {
        max-width: 100%;
    }
    .info {
        max-width: 90vw;
        min-width: 90%;
        max-height: 50vh;
    }
    .info p {
        font-size: 1rem;
    }
    .headline h1 {
        margin-top: -10vh;
        font-size: 2rem;
    }
    .headline.custom-petition h1 {
        margin: 0 auto;
        text-align: center;
        max-width: 90vw;
    }
    .text-div.registration {
        margin-top: 10vh;
        max-width: 90vw;
    }
    .text-div.registration .info {
        min-width: 90%;
        max-width: 100%;
    }
    .text-div.registration .info p {
        font-size: 1.2rem;
    }
    .input-field {
        width: 80vw;
    }
    .text-input {
        margin-top: 0;
    }
    .error {
        font-size: 2rem;
    }
    .sig-img {
        max-width: 300px;
    }

    .arrow-down {
        display: inline-block;
        margin-top: -1.2vh;
    }

    .signers-content {
        /* margin-top: 20vh; */
        grid-template-rows: 70% 30%;
    }
    .headline.custom-signers {
        width: 100%;
    }
    .headline.custom-signers.info p {
        font-size: 1.2rem;
    }
    .info.signers,
    .signers-div {
        min-width: 90%;
    }
    #sig-canvas {
        max-width: 90vw;
    }
}
